.experience {
  padding: 100px 0 88px;
  color: $color-white;
  background-color: $color-primary;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $gap;

    @media (max-width: 950px) {
      justify-content: center;
    }
  }
}

.experience-item {
  display: flex;
  gap: $gap;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__numbers {
    font-size: 21px;
    font-weight: 500;
  }
  
  &__image {
    order: -1;
  }

  @media (max-width: 950px) {
    flex-basis: 25%;
  }
}
